<h1>What's for dinner?</h1>

<h3>If this is an all too common question in your home, you need <strong>Let's Eat!</strong>,
  an app that simplifies dinnertime. Using <em>Let's Eat</em>, family members have
  the ability to suggest what's for dinner each night. Based on these suggestions,
  Mom or Dad can approve which meal is served and other members can view the night's
  final selection.</h3>

<h3>Let's Eat!</h3>
