<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

		<!-- Template CSS Files  -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
		<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
		<link rel="shortcut icon" href="images/fav.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <!-- Navbar Starts -->
        <nav id="nav" class="navbar navbar-default sticky-nav flat animation" role="navigation">
        <!-- Container Starts -->
          <div class="container text-center">
          <!-- Navbar Header Starts -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar animation"></span>
                <span class="icon-bar animation"></span>
                <span class="icon-bar animation"></span>
              </button>
              <a href="#nav" class="navbar-brand">
                <img src="images/logo.png" alt="Organic Food" class="img-responsive hidden-sm hidden-xs">
                <img src="images/logo-small.png" alt="Organic Food" class="img-responsive hidden-lg hidden-md">
              </a>
            </div>
          <!-- Navbar Header Ends -->
          <!-- Navbar Collapse Starts -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right animation">
                <li class="current"><a href="#about">About</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#footer">Contact</a></li>
              </ul>
            </div>
          <!-- Navbar Collapse Ends -->
          </div>
        <!-- Container Ends -->
        </nav>
      <!-- Navbar Ends -->

    </header>
    <%- body %>

    <footer id="footer" class="footer-wrap">
		<!-- Nested Container Starts -->
			<div class="container text-center">
			<!-- Social Media Links Starts -->
				<ul class="list-unstyled list-inline foot-sm-links animation">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			<!-- Social Media Links Ends -->
			<!-- Logo Starts -->
				<img src="images/foot-logo.png" alt="Organic Food" class="img-responsive img-center">
			<!-- Logo Ends -->
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Booking Timings Starts -->
					<div class="col-sm-4 col-xs-12">
						<div class="foot-col">
							<h4>Hours</h4>
							<ul class="list-unstyled">
								<li>Monday - Saturday : <span class="text-light">8:00 AM to 10:00 PM</span></li>
								<li>Sundays : <span class="text-light">10:00 AM to 12:00 PM</span></li>
								<li>&nbsp;</li>
								<li class="text-light">Email us at <a href="#" class="text-normal animation">info@lets-eat.com</a></li>
							</ul>
						</div>
					</div>
				<!-- Booking Timings Ends -->
				<!-- Get Latest News & Offers Starts -->
					<div class="col-sm-4 col-xs-12">
						<div class="foot-col">
							<h4>stay informed</h4>
							<!-- Subscribe Form Starts -->
								<form class="foot-subscribe-form">
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="Your email..">
									  <span class="input-group-btn">
										<button class="btn btn-default animation" type="button">Subscribe</button>
									  </span>
									</div>
								</form>
							<!-- Subscribe Form Ends -->
							<p class="text-light">We will not share your personal information.</p>
						</div>
					</div>
				<!-- Get Latest News & Offers Ends -->
				<!-- Contact Address Starts -->
					<div class="col-sm-4 col-xs-12">
						<div class="foot-col">
							<h4>Address</h4>
							<ul class="list-unstyled">
								<li>515 E. Grant <strong></strong></li>
								<li>Phoenix, AZ 85004</li>
								<li>&nbsp;</li>
								<li class="text-light">Call us at +1 (555) 555-5555 <a href="#" class="text-normal animation"></a></li>
							</ul>
						</div>
					</div>
				<!-- Contact Address Ends -->
				</div>
			<!-- Nested Row Ends -->
			<!-- Copyright Starts -->
				<p class="copyright">Copyright &copy; 2017 <span> Elle Bayless - Lauren Namba - Laura Balis - Dashon Hawkins. </span> All Rights Reserved.</p>
			<!-- Copyright Ends -->
			<!-- Locate Us Starts -->
				<h5 class="foot-head"><i class="fa fa-map-marker"></i> Locate us on Google Maps</h5>
			<!-- Locate Us Ends -->
			</div>
		<!-- Nested Container Ends -->
		</footer>

    <div class="map-wrap"></div>

    <script src="js/jquery-1.12.4.min.js"></script>
  	<script src="js/jquery-migrate-1.4.1.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<script src="js/plugins/jquery.nav.js"></script>
  	<script src="js/plugins/shuffle/jquery.shuffle.modernizr.min.js"></script>
  	<script src="js/plugins/owl-carousel/owl.carousel.js"></script>
  	<script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
  	<script src="js/custom.js"></script>

  </body>
</html>
