html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: #00B7FF;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 70%;
}
th {
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
font-size:20px;
color:white;
line-height:30px;
border-spacing: 5px;

}
td {
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
font-size:15px;
color:white;
line-height:30px;
border-spacing: 5px;

}

tr:nth-child(even) {
background-color: #dddddd;
z-index: -1;
font-size:15px;
color:white;
line-height:30px;
border-spacing: 5px;
text-align: center;
}

/*LOGIN PAGE*/
h1 {
  color: green;
  display: inline;
}

/*USER INDEX PAGE*/

#greeting_menu {
  max-width: 80vw;
  margin: 0 auto;
  dis
}
