<h1>Thank you, <%= user.name %>!</h1>

<h3><%= message %></h3>
<a href="/dash/<%= user.id %>"><button type="button" name="button">Back to Profile</button></a>

<script type="text/javascript">

</script>
