<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Let's Eat!</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <h1>Let's Eat</h1>
          <i class="ionicons ion-android-restaurant"></i>
        </a>
      </div>
    </div>
  </nav>
  <h1>Welcome!</h1>


  <div id="greeting_menu">
    <h2>Hi </h2>
  </div>

  <div id="edit_user">

  </div>
  <!-- Header -->
  <header id="header">
    <h1>Let's Eat!</h1>
    <p> Please enter your recipe <a href="http://html5up.net">Let's Eat!!!</a>.</p>
  </header>

  <!-- Signup Form -->
  <textarea rows="10" cols="80" placeholder="Hi"><%= users[i].name %></textarea>


  <br>

  <!-- Scripts -->
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>
  <div id="bg">
    <div class="" style="background-image: url(&quot;images/bg01.jpg&quot;); background-position: center center;"></div>
    <div class="visible top" style="background-image: url(&quot;images/bg02.jpg&quot;); background-position: center center;"></div>
    <div class="" style="background-image: url(&quot;images/bg03.jpg&quot;); background-position: center center;"></div>
  </div>


</body>

</html>
